.footer {
    color: white;
    @include serif-font;
    .author {
        font-size: .8rem;
    }
    &-top {
        height: 2.5rem;
        width: 100%;
        background-color: #a7a7a7;
    }
    &-bot {
        padding: 0.5rem;
        width: 100%;
        background-color: #747474;
    }
    a {
        color: white;
        text-decoration: underline;
    }
}